/*CSS Styles* for the final project*/

*  { 
padding:0;
margin:0;
box-sizing: border-box;
}

/* regardless of what we do with padding even numbers dont work it wont disrupt container */









/* Style the content */
.content {
  background-color: black;
    
  
 
}


 img.logo {position: relative; top: -85px;display: block;
     float:left;
  margin-left: auto;
  margin-right: auto;
  width: 470px;
     height: 330px;
z-index: 1;
}


 img.logoflip {position: relative; top: -85px;display: block;
     float:right;
  margin-left: auto;
  margin-right: auto;
  width: 470px;
     height: 330px;
z-index: 1;
}

















body { font-size:100%; font-family: verdana, helvetica, arial; background: black;}



body.inner #wrapper {
    width: 940px;
    margin: 280px auto 20px auto;
}












header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background:black;
    z-index: 9000;
    
    
}


header img.headerpic1 { display: block;
  margin-left: auto;
  margin-right: auto;
  width:1000px;
    height: 150px;
}












a {
  text-decoration: none;
}

nav {
  font-family: Arial, sans-serif;
  background: black;
  width: 100%;
  height: 72px;
  text-align: center;
}

nav > ul {
  
list-style: none;
margin: 0 auto;
padding-left: 0;
  width: 80%;
  height: 72px;
}

nav ul > li {
  width: 25%;
  line-height: 72px;
  text-transform: uppercase;
}

nav ul > li > ul {
  width: 100%;
}

nav ul > li > ul li {
  width: 100%;
  text-transform: none;
  line-height: 50px;
}

nav li {
color: black;
  background: cyan;
display: block;
float: left;
padding: 0 1rem;
position: relative;
text-decoration: none;
  transition-duration: 0.5s;
}

nav li a {
  color: black;
}

nav li:hover {
background: crimson;
cursor: pointer;
}

nav ul li ul {
background: hotpink;
visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin: 0;
left: 0;
  display: none;
}

nav ul li:hover > ul,
nav ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

nav ul li ul li {
clear: both;
  width: 100%; 
}




li.underline {text-decoration: underline;}











    


main.index {
    
    background: black;
    width: 480px;
    float:left;
    clear: both;
    margin-bottom: 30px;}

main.index h1 {color: #00CED1;padding-bottom: 35px;}
main.about h1 {color: black;text-align: center;}
    
    
    
    
main.about {
    
    background: aqua;
    height: 1130px;
    width: 940px;
    float:left;
    clear: both;
    margin-bottom: 30px;
    color: black;}


h3.boxheadline {text-align: center;}

main.about h2 {text-align: center; font-style: italic;}


h1.hi {text-align: center}








aside {
    border:1px solid red;
    background:brown; 
    width:420px;
    height: 600px;
    padding:15px;
    float:right;
}


aside img.side {position: relative; bottom: -5px;display: block;display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;}

aside img.side2 {position: relative; bottom: -20px;display: block;display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;}














.container {
    margin-bottom: 30px;

    clear:both;
    


}

.container li {width: 300px;
                padding:15px;
                list-style-type:none;
                border: 1px solid red;
        color:cyan;}



.container li:nth-child(1) {
            float:left;
    margin-right: 20px}


.container li:nth-child(2) {
            float:left;
    }


.container li:nth-child(3) {
            float:right;
    }




















footer { 
    border-top:1px dotted #666; 
    height: 50px;
    line-height: 50px;
    background: black;
    clear:both;
    
    
    
    
}

footer ul {padding-left: 20px;}


footer li {float: left;
            list-style-type: none;
            margin-right: 30px;
            font-size:.875em;
            color:blue;}













img.boxpic {position: relative;display: block;display: block;
  margin-left: auto;
  margin-right: auto;
  height: 141px;
    width: 80%}







img.tag {float: right; width:60px; height: auto;}






img.crb { position: relative;bottom: -40px;display: block;display: block;
  margin-left: auto;
  margin-right: auto;
  height: 495px;
    width: 100%}















/*****Typography*****/


p { margin-bottom: 20px;
    line-height: 1.5;color: aqua;}


p.index1 { margin-bottom: 20px;
    line-height: 1.5;color: aqua;}

p.center1 { margin-bottom: 20px;
    line-height: 1.5;color: aqua; text-align: center}


p.about { margin-bottom: 20px;
    line-height: 1.5;color: black; text-align: center}

p.background{background:red;color: purple;padding: 20px;
font-size:1.5em;
line-height:1.2;
font-style: oblique}

aside p {
    font-size:.85em;
    color: bisque;
}


h1 {margin-bottom: 7px;
font-family:"Times New Roman", serif;


}

h2 {margin-bottom: 7px;font-family:"Times New Roman", serif;
font-size:1.953em;
line-height: 1.7;
}

h3 + figure { margin: 18px 0 20px 0;}

h3 {margin-bottom: 7px;font-family:"Times New Roman", serif;
font-size:1.563em;line-height: 1.7;
}





/* Styles for Service page */




main.services{
    
    background: aqua;
    height: 1100px;
    width: 300px;
    float:left;
    clear: both;
    margin-bottom: 30px;
    color: black;}


aside.services {
    border:1px solid red;
    background:brown; 
    width:420px;
    height: 1100px;
    padding:15px;
    float:right;
}

img.services1 {width: 50%;}




/* Styles for Gallery page */






main.gallery{
    
    background: aqua;
    height: 3940px;
    width: 940px;
    float:left;
    clear: both;
    margin-bottom: 30px;
    color: black;}


main.gallery h1 { 
     text-align: center; }


main.gallery h2 { font-style: italic;
     text-align: center; color: darkblue;}

main.gallery h3 { font-style:oblique;
     text-align: center; color: darkcyan;}


img.room1 {width: 940px; height: 700px; display: block;
  margin-left: auto;
  margin-right: auto;}


img.room2 {width: 940px; height: 700px; display: block;
  margin-left: auto;
  margin-right: auto;}





























/* Styles for Contact page */



main.contact{
    
    background: aqua;
    height: 1450px;
    width: 940px;
    float:left;
    clear: both;
    margin-bottom: 30px;
    color: black;}

    
    
img.request {width: 800px; height: 300px;  display: block;
  margin-left: auto;
  margin-right: auto;
    width: 80%;
}

img.border1 {float: left;
    position: relative; top: -300px;width: 80px; height: 270px;}

img.border2 {float: right;
    position: relative; top: -300px;width: 80px; height: 270px;}



img.border3 {float: left;
    position: relative; top: -30px;width: 80px; height: 90px;position: relative; left: -80px;}

img.border4 {float: right;
    position: relative; top: -30px;width: 80px; height: 90px;position: relative; right: -80px;}




img.border5 {
    position: relative; top:-20px;width: 80px; height: 80px; width: 390px;position: relative; left:-80px;}



img.border6 {
    position: relative; top:-103px;width: 80px; height: 80px; width: 390px;position: relative; right:-310px;}















/* Styles for Form */

form {
    width: 900px;
        ; padding-left:40px;
    
}


fieldset {padding: 20px;}




legend {font-size: 1.5em;
        font-style: italic ;
        padding: 0 4px;
        color: darkslategrey; }






label {display: block;
    margin-bottom: 5px; color:black; font-style: italic;


}

input {width: 80%;
   
        height: 20px;
        margin-bottom: 10px;color: darkred;}

input[type=radio],input[type=checkbox]
                    {width: auto;
                    height: auto;
                    margin-right: 5px;
                        color: red;}


input[type=submit]   {width: auto; }


textarea {width: 100%;
        height: 60px;
    margin-bottom: 10px;
color: gray;}
    

                

select {margin-bottom: 10px;color: lawngreen;}

form ul {margin-left: 10px;
            margin-bottom: 10px;color: black;}

form li {
            list-style-type: none;
}







/* Styles for thx */


main.thx{
    
    background: aqua;
    height: 1050px;
    width: 940px;
    float:left;
    clear: both;
    margin-bottom: 30px;
    color: black;}




img.border7 {float: left;
    position: relative; top: -0px;width: 80px; height: 90px;position: relative; left: -0px;}

img.border8 {float: right;
    position: relative; top: -0px;width: 80px; height: 90px;position: relative; right: 0px;}




img.border9 {
    position: relative; top:0px;width: 80px; height: 90px; width: 390px;position: relative; left:-0px;}



img.border10 {
    position: relative; top:-93px;width: 80px; height: 90px; width: 390px;position: relative; right:-470px;}






img.thanks {display: block;
  margin-left: auto;
  margin-right: auto; height: 80px; width: 80%;text-decoration: underline}

img.thanks2 {display: block;
  margin-left: auto;
  margin-right: auto; height: 610px; width: 90%;padding-top: 30px;}



img.thanks3 {display: block;
  margin-left: auto;
  margin-right: auto; height: 110px; width: 80%;padding-top: 50px;}